[Unit]
Description=example-cli rootless runtime

[Container]
Image=localhost/example-cli:0.1.0
ContainerName=example-cli-%H
ReadOnly=true
User=65532:65532
PublishPort=127.0.0.1:8000:8000
NoNewPrivileges=true
DropCapability=all

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
